
#head {
    background: url(pasta1.jpg);
    background-position: center;
    background-size: cover;
}

.jumbotron {
    font-family: "Great Vibes";
    color: white;
    text-shadow: 0px 4px 3px gray;
    text-shadow: 0px 8px 13px #2d2c2d;
    }

    body {
        font-family: "Fira Sans"
    }

    #iki {
        height: 350px;
    }

}

#bir {
    font-size: 30px;
}